<!DOCTYPE html>
<html lang="pt-BR">
<head>
  <meta charset="UTF-8" />
  <title>Formulário Médico</title>
  <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
  <nav class="navbar">
    <a href="/">Início</a>
    <a href="/cadastro">Cadastrar Paciente</a>
    <a href="/medico">Formulário Médico</a>
  </nav>

  <div class="container">
    <h1>Formulário do Médico</h1>
    {% if senha_atual %}
      <p><strong>Atendendo:</strong> {{ senha_atual }}</p>
    {% endif %}
    <form method="POST">
      <label>Nome:</label><br>
      <input type="text" name="nome" required><br><br>

      <label>CPF:</label><br>
      <input type="text" name="cpf" required><br><br>

      <label>Nº do SUS:</label><br>
      <input type="text" name="sus" required><br><br>

      <label>Sintomas:</label><br>
      <textarea name="sintomas" required></textarea><br><br>

      <label>Prescrição:</label><br>
      <textarea name="prescricao" required></textarea><br><br>

      <button type="submit">Chamar Próximo Paciente</button>
    </form>
  </div>
</body>
</html>
